.article-title {
  border-radius: 4px;
  background-color: grey;
  height: 14vh;
  width: 75vw;
  margin: 15px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 6px 5px -1px rgb(0 0 0 / 58%);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.article-title-text {
  width: 75vw;
}