body {
  margin: 0;
  font-family:"Times New Roman",Georgia,Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:"Times New Roman",Georgia,Serif;
}
